.monochord-wrapper {
    position: relative;
    width: 350px;
    margin: auto;
}

.monochord-wrapper .knob-wrap {
    position: absolute;
}

.monochord-wrapper .knob-wrap.chord {
    left: 10px;
    top: 10px;
}

.monochord-wrapper .knob-wrap.fine {
    left: 60px;
    top: 60px;
}

.monochord-wrapper .knob-wrap.super-fine {
    left: 110px;
    top: 110px;
}

.monochord-wrapper .knob-wrap.play {
    left: 135px;
    top: 135px;
    width: 50px;
    height: 50px;
    background: #eee;
    color: #333;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 24;
    line-height: 55px;
    cursor: pointer;
    user-select: none;
}
