/**
 * Styling for the MonoChord objet
 */

.monochord-wrapper {
    position: relative;
    width: 300px;
    margin: auto;
    height: 400px;
    text-align: left;
}

.monochord-wrapper .knob-wrap {
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.monochord-wrapper .knob-wrap.fine {
    left: 50px;
    top: 50px;
}

.monochord-wrapper .knob-wrap.super-fine {
    left: 100px;
    top: 100px;
}

.monochord-wrapper .knob-wrap.play {
    left: 125px;
    top: 125px;
    width: 50px;
    height: 50px;
    transition: background 300ms linear;
    background: #eee;
    color: #333;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 24;
    line-height: 55px;
    cursor: pointer;
}

.monochord-wrapper.enabled .knob-wrap.play {
    background: #87CEEB;
}

.monochord-wrapper .knob {
    /* Override jQuery Knob's custom CSS */
    position: relative!important;
    font-size: 30!important;
}

